<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Include Bootstrap CSS and Font Awesome -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles/styles.css">
        <%- style %>
</head>
<body class="<%= typeof noStickyFooter !== 'undefined' && noStickyFooter ? 'normal-flow' : 'd-flex flex-column min-vh-100' %>">
    <!-- Navbar -->
    <header><%- include('../partials/navbar') %></header>       
    <!-- Main content -->
    <main class="d-flex flex-column min-vh-100 pb-5">
        <%- body %>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>    

    <!-- Extracted Scripts -->
    <%- script %>
    <%- style %>
</body>
</html>